TG_BOT_TOKEN=
TG_API_ID=
TG_API_HASH=
TG_SESSION_STRING=

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=logi
POSTGRES_USER=logi
POSTGRES_PASSWORD=logi

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

RETENTION_DAYS=3
MAX_RESULTS_PER_QUERY=20
SIMILARITY_THRESHOLD=0.85
